//  phpcs:ignoreFile
// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@fusion-form-label__background-color: @color-lighter-gray;
@fusion-form-label__border-color: @color-gray68;
@fusion-form-label__color: @color-very-dark-gray-black;
@multiselect-items__hover__background-color: @color-gray89;
@multiselect-items__selected__background-color: #cdecf6;
@multiselect-items-no-result__color: @color-red9;
@multiselect-items-result__color: @color-gray62;

.fusion-admin-email-success {
    color: @multiselect-items-result__color;
    font-size: @font-size__xs;
    padding-top: .8rem;
}

.modal-popup {
    .modal-footer {
        .action-inactive {
            background-color: @color-gray60;
            border-color: @color-gray60;
        }
    }

    &.change-status {
        .modal-inner-wrap {
            max-width: 35%;

            .cancel {
                background: none;
                border: none;
                color: @link__color;
                font-size: 1.4rem;
                font-weight: @font-weight__regular;
                text-shadow: none;

                &:hover {
                    background: none;
                    border: none;
                    box-shadow: none;
                    color: @link__hover__color;
                    font-size: 1.4rem;
                    text-decoration: @link__active__text-decoration;
                }

                &:focus {
                    background: none;
                    color: @link__color;
                }
            }

            .admin__field {
                position: relative;
            }

            .admin__control-textarea {
                background: @textarea__background;
                min-height: 10rem;
                width: @textarea__width;
            }

            .admin__field-error {
                &:focus {
                    border-color: @field-error-control__border-color;
                }
            }

            .additional-text {
                font-size: 1.2rem;
            }
        }
    }
}

.admin__reason-rejection {
    background-color: @fusion-form-label__background-color;
    border: 1px solid @fusion-form-label__border-color;
    color: @fusion-form-label__color;
    cursor: not-allowed;
    opacity: .5;
    padding: 1rem;
    vertical-align: baseline;
    width: 100%;

    strong {
        display: block;
        margin-bottom: 1rem;
    }

    textarea {
        background: transparent;
        border: 0;
        height: 8.48rem;
        resize: vertical;
        width: 100%;
    }
}

.fusion-index-edit,
.fusion-index-new {
    .admin__field {
        legend {
            &.admin__field-label {
                opacity: 1;
            }
        }
    }
}

.auto-complete-wrap {

    &._disabled {
        pointer-events: none;
    }

    .auto-complete-label {
        padding: .6rem 1rem;
        position: relative;

        &:before {
            border-bottom: 0;
            border-right: 0;
        }
    }

    .action-menu {
        display: none;
        z-index: 1;

        .admin__action-multiselect-search-wrap {
            border-bottom: 0;
        }

        .admin__action-multiselect-results-amount {
            color: @multiselect-items-result__color;
            padding: .6875em @indent__s;
        }

        .admin__action-multiselect-menu-inner-item {
            cursor: pointer;
            display: block;
            padding: .6875em 1em;

            &:hover {
                background: @multiselect-items__hover__background-color;
            }

            &._selected {
                background: @multiselect-items__selected__background-color;
            }

            &:after {
                color: @multiselect-items-result__color;
                content: attr(data-address);
            }
        }

        .no-results {
            color: @multiselect-items-no-result__color;
            padding: 0 0 @indent__s @indent__s;
        }
    }
}

.confirm.delete-fusion {
    .modal-inner-wrap {
        width: 600px;
    }
}

.confirm-customer-group-change .modal-inner-wrap {
    margin-top: 20%;
    width: 45%;

    h1 {
        font-weight: @font-weight__light;
    }
}

.fieldset-wrapper {
    &._block-wrapper {
        .__collapsible-block-wrapper-pattern();
    }
}
.admin__field-tooltip .admin__field-tooltip-action{
    z-index: 0;
}


.actions-split.active, .actions-split._active, .actions-split:hover{
    box-shadow: none !important;
}
button.action-primary, button.primary, button.action-toggle, button.primary.add{
    background: #71BE28 !important;
    border-color: #71BE28 !important;
}
button.action-primary:hover, button.action-primary:focus button.action-primary:active, 
button.primary:hover, button.primary:focus button.primary:active, 
button.action-action-toggle:hover, button.action-toggle:focus, button.action-toggle:active,
button.primary.add:hover, button.primary.add:focus, button.primary.add:active{
    background: #58931F !important;
    border-color: #58931F !important;
    box-shadow: none !important;
}
.login-header .logo img{
    display: block;
    margin: 0 auto;
}
.page-footer{
    padding: 1.5rem 3rem 2rem !important;
}
.page-footer a{
    color: #71BE28 !important;
}
.menu-wrapper:before{
    background-color: #1F3850 !important;
}
#menu-fusion-pwapos-index a:before{
    display: none !important;
}
#menu-fusion-pwapos-index > a{
    background: url('{{base_url}}images/pos-icon.png') no-repeat center 8px;
    padding-top: 46px;
    padding-bottom: 8px;
}
.admin__menu .level-0>a{
    color: #ffffff !important;
}
.admin__menu .level-0:hover>a, .admin__menu .level-0._active>a{
    background-color: #58931F !important;
}
.admin__menu .level-0>.submenu{
    background-color: #0E1A25 !important;
}
.admin__menu [class*='level-']:not(.level-0) a:hover{
    background-color: #58931F !important;
}
.copyright .link-copyright:before{
    display: none !important;
}
.copyright{
    background: url('{{base_url}}images/logo-spinner.png') no-repeat left center;
    background-size: 20px auto;
    padding: 0 0 0 20px;
}
.footer-legal-system{
    text-align: center !important;
}
.pos_retail-printreceipt-index .modal-inner-wrap{
    width: 400px;
    margin: 3rem auto;
}
.pos_retail-printreceipt-index .modal-content{
    padding: 0;
}
.pos_retail-printreceipt-index .modal-content > div{
    padding-top: 0 !important;
}
.dashboard-item-primary:first-child .dashboard-sales-value{
    color: #71BE28 !important;
}
.dashboard-totals-item:first-child .price{
    color: #71BE28 !important;
}
.notifications-action .notifications-counter{
    background-color:#71BE28 !important;
}
.tabs-horiz .ui-state-active .ui-tabs-anchor{
    border-color: #71BE28 !important;
}
.page-layout-admin-login .admin__legend{
    color: #71BE28 !important;
}